<%= form_tag(recipes_index_path, method: "get") do %>
	<div class="search_bar">
	<%= text_field_tag(:search, nil, placeholder: "Enter recipe name", class: "inputbox", autofocus: true) %>
	<%= submit_tag("Search", class: "inputbutton") %>
	</div>
<% end %>

<% if @recipes.present? %>
	<h1>Searching for - <%= @search %></h1>
<% else %>
	<h1>Could not find recipes for <%=@search %></h1>
<% end %>

<div class="digg_pagination">
	<%= will_paginate @recipes %>
</div>
<br>

<% if @recipes.present? %>
	<table>
		<tr>
			<th>Image</th>
			<th>Title</th>
			<th>Social Rank</th>
		</tr>
		<% @recipes.each do |recipe| %>
			<tr>
				<td><%= link_to image_tag(recipe["image_url"], width: "100", height: "100"), recipe["source_url"] %></td>
				<td><%= link_to sanitize(recipe["title"]), recipe["source_url"] %></td>
				<td><%= recipe["social_rank"] %></td>
			</tr>
		<% end %>
	</table>
<% end %>
<br>

<div class="digg_pagination">
	<%= will_paginate @recipes %>
</div>
<br>

<h5>Powered By Food2Fork.com</h5>
