<div class="container">
	<div class="row row-content">
		<div class="col-xs-12 col-sm-9 col-sm-offset-3">
			<%= form_tag(recipes_index_path, class: "form-horizontal", method: "get") do %>
				<div class="form-group">
					<div class="col-xs-7">
						<%= text_field_tag(:search, "#{@search}", placeholder: "search for", class: "form-control inputbox") %>
					</div>
					<div class="col-xs-offset-7">
						<%= button_tag(type: "submit", class: "btn btn-primary") do %>
							<i class="glyphicon glyphicon-search" aria-hidden="true"></i>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
	</div>

	<% if @recipes.present? %>
		<div class="row row-content">
			<div class="col-xs-12">
				<h2 class="result-text">Searching for - <%= @search %></h2>
			</div>
		</div>

		<div class="row row-content">
			<div class="col-xs-12 col-sm-8 col-sm-offset-4">
				<div class="digg_pagination">
					<%= will_paginate @recipes %>
				</div>
			</div>
		</div>

		<div class="row">
			<% @recipes.each do |recipe| %>
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<a href="<%= recipe["source_url"] %>">
							<%= image_tag(recipe["image_url"], alt: recipe["title"]) %>
							<div class="caption">
								<p><%= recipe["title"] %></p>
							</div>
						</a>
					</div>
				</div>
			<% end %>
		</div>

		<div class="row row-content">
			<div class="col-xs-12 col-sm-8 col-sm-offset-4">
				<div class="digg_pagination">
					<%= will_paginate @recipes %>
				</div>
			</div>
		</div>

	<% else %>
		<div class="row row-content">
			<div class="col-xs-12">
				<h2 class="result-text">Could not load recipes for <%= @search %></h2>
			</div>
		</div>

	<% end %>

</div>
